管理者側
<h1>カフェ登録</h1>

<%= form_with(model: @cafe, url: admin_cafes_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :カフェ名%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :営業時間 %>
    <%= form.text_field :business_hours %>
  </div>

  <div class="field">
    <%= form.label :評価 %>
   <%= form.number_field :rate %>
  </div>


  <div class="actions">
    <%= form.submit "登録する" %>
  </div>
<% end %>