<h3><%= @cafe.name%>の詳細ページ</h3>
<table>
 <tr>
  <td> カフェ名</td>
  <td> <%= @cafe.name %></td>

 </tr>

 <tr>
  <td>住所<td>
  <td> <%= @cafe.address %></td>
 </tr>

 <tr>
  <td> 営業時間 </td>
  <td><%= @cafe.business_hours %></td>
 </tr>

 <tr>
  <td>評価 </td>
  <td><%= @cafe.rate %></td>
 </tr>

</table>


<h2>コメント</h2>

<%= form_with(model: [@cafe, @comment], url: cafe_comments_path(@cafe), local: true, method: :post) do |f| %>
  <%= f.text_area :content, placeholder: "コメントを投稿してください" %>
  <%= f.hidden_field :cafe_id, value: @cafe.id%>
  <%= f.submit "投稿する" %>
  <%end%>


<h2>コメント一覧</h2>
<% @cafe.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p>投稿者: <%= comment.customer.name %></p>
<% end %>
