<!DOCTYPE html>
<html>
  <head>
    <title>SearchFavoriteCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    <% if admin_signed_in? %>
      <%= link_to admin_cafes_path, class:'nav-link text-dark' do %>
      <li>カフェ一覧</li>
      <% end %>

      <%= link_to admin_customers_path,class:'nav-link text-dark' do %>
      <li>会員一覧</li>
    　 <% end %>

    　 <%= link_to admin_facilities_path,class:'nav-link text-dark' do %>
      <li>設備一覧</li>
    　 <% end %>

    　 <%= link_to admin_customer_posts_path,class:'nav-link text-dark' do %>
      <li>投稿一覧</li>
    　 <% end %>

    　 <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
    　 <li>ログアウト</li>
    　 <% end %>


    <% elsif customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>

      <li>
        <%= link_to "カフェ一覧", cafes_path, method: :get %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
